@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');

.contPri {
    background-image: url(../css/imagenes/home-img.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.linkCard {
    text-decoration: none;
}

.imgloading {
    width: 370px;
}

.loading h1 {
    color: #AB6C34;
}

.navBar {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    gap: 10%;
    padding-top: -10px;
}

h1 {
    color: #AB6C34;
    font-size: 45px;
    font-family: 'Lobster', cursive;
    text-shadow: 3px 3px black;
}

select {
    padding: 4px;
    border-radius: 4px;
}

.linkHome {
    text-decoration: none;
    color: black;
    border: 2px solid gray;
    padding: 5px;
    border-radius: 6px;
    background-color: #738F14;
    transition: 0.3s;
    transition: all 400ms ease;
    font-size: 16px;
    font-weight: bold;
}

.linkHome:hover {
    color: black;
    background: #b8c58f;
    border-color: black;
    transform: translateY(-20%);
}

.linkHome:visited {
    color: none;
}

.botonCargar {
    cursor: pointer;
    padding: 5px;
    border-radius: 6px;
    border: 2px solid gray;
    background-color: #738F14;
    color: black;
    transition: 0.3s;
    transition: all 400ms ease;
    font-size: 14px;
    font-weight: bold;
}

.botonCargar:hover {
    color: black;
    background: #b8c58f;
    border-color: black;
    transform: translateY(-20%);
}

.contSelects {
    display: flex;
    justify-content: space-evenly;
    position: relative;
}

.selects {
    width: 15%;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    min-height: 35px;
    background: #ccc0af;
    border-radius: 15px;
    cursor: pointer;
    border: 2px solid #743D2D;
    outline: none;
    padding: 0px 10px;
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(0px);
    background-color: rgba(9, 154, 106, 0.34);
}

.filtarRecetas {
    display: flex;
    justify-content: center;
    font-family: 'Lobster', cursive;
    color: #AB6C34;
    font-size: 35px;
    text-shadow: 3px 2px black;
}




