.recipePri {
    background-image: url('./imagenes/hornogrande.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.backHome {
    height: 3em;
    width: 100px;
    background-color: #eeeeee4b;
    border-radius: 3px;
    letter-spacing: 1px;
    transition: all 0.2s linear;
    cursor: pointer;
    border: none;
    background: #fff;
   }
   
   .backHome:hover {
    box-shadow: 9px 9px 33px #d1d1d1, -9px -9px 33px #ffffff;
    transform: translateY(-2px);
   }